# Ignore all ROS packages
/src/*
.catkin_workspace
/src/uwac_sim/gazebo_spatial_move_plugin

# Except these ROS packages
!/src/uwac_sim/

# Ignore ROS build
build/
devel/

# Ignore pycache
__pycache__/
*.pyc

# Ignore log files and graphs
/src/uwac_sim/logs
/src/uwac_sim/log
/src/uwac_sim/graphs

# Ignore Windows Zone.Identifier shenanigans
*:Zone.Identifier

# CsvGrapher can be found here: https://github.com/KofiAnnan97/simple_csv_grapher
CsvGrapher.py
perf.yaml
visual.yaml
run_report