# Ignore all ROS packages
/src/*

# Except these 2 ROS packages
!/src/ekg_auv_testing/
!/src/seatrac_usbl/

# Ignore ROS build
build/
devel/

# Ignore pycache
__pycache__/
*.pyc

# Ignore log files and graphs
/src/ekg_auv_testing/logs
/src/ekg_auv_testing/graphs

# Ignore Windows Zone.Identifier shenanigans
*:Zone.Identifier

# Remove CsvGrapher can be found here: https://github.com/KofiAnnan97/simple_csv_grapher
CsvGrapher.py
perf.yaml
visual.yaml