<launch>
  <!-- Machine definition -->
  <machine name="boat_fs" address="192.168.1.4" user="reeve" password="T@nner38565796h"  timeout="5000" env-loader="/home/reeve/catkin_ws/devel/env.sh"/>
  <machine name="boat_bs" address="192.168.1.5" user="pi"    password="spring2020"       timeout="5000" env-loader="/home/pi/catkin_ws/devel/env.sh"/>
  
  <!-- Nodes to be executed in backseat -->
  <!--include file="$(find seatrac_pkg)/launch/x150.launch" /-->
  <!--include file="$(find seatrac_pkg)/launch/x110.launch" /-->
  
  <!-- Uncomment designated Path Planning Node to Launch for the Boat -->
  <node machine="boat_bs" name="pp_manual"            	pkg="pm_plan"         type="pp_manual.py" />
  <!--node machine="boat_bs" name="pathFollowing_3"        	pkg="pm_plan"         type="pathFollowing_3.py"/-->
  <!--node machine="boat_bs" name="Imuuu"                      	pkg="pm_plan"         type="Imuuu.py"/-->
    
  <!-- Nodes to be executed in frontseat -->
  <!--node machine="boat_fs" name="pwms"               		pkg="aut_cat"         type="PWMcntrl.py" /-->
  <node machine="boat_fs" name="GPS_Calculations_3"     pkg="aut_cat"         type="GPS_Calculations_3.py" />
  <!--node machine="boat_fs" name="GPS_Driver"         		pkg="aut_cat"         type="GPS_Driver.py" /-->
  <node machine="boat_fs" name="Fake_GPS_Driver"    	pkg="aut_cat"         type="Fake_GPS_Driver.py" />
  <node machine="boat_fs" name="logtoCSV"           	pkg="aut_cat"         type="iverLog.py" />
  <!--node machine="boat_fs" name="Motor_Control_2"    		pkg="aut_cat"         type="Motor_Control_2.py" /-->
  <node machine="boat_fs" name="Motor_Control_3"    	pkg="aut_cat"         type="Motor_Control_3.py" />
  <!--node machine="boat_fs" name="Radio"              		pkg="aut_cat"         type="radio.py"/-->
  <!--node machine="boat_fs" name="compass"            		pkg="aut_cat"         type="compass.py"/-->

</launch>
